/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : 26-04-2019, 10:23:05
    Author     : mpoul



To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : 08-02-2019, 09:15:34
    Author     : marce


*/.root 
{

    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-insets: 0px;
    -fx-padding: 10px;
    -fx-spacing: 3px;
}

.button-style-yes
{
    -fx-background-color: #91ccfa;
    -fx-background-insets: 5;
    -fx-background-radius: 10;
}
.button-style-no
{
    -fx-background-color: #cc3e20;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.button-style-cancel
{
    -fx-background-color: #bc1e12;
    -fx-background-insets: 5 10 15 20;
    -fx-background-radius: 0 20 10 10;
}

.button 
{
    -fx-font-size: 15px;
    -fx-border-insets: 0;
    -fx-border-width: 2;
    -fx-border-color: #4a4948;
    -fx-border-radius: 3;
}

.label
{
    -fx-font-family: "calibri";
    -fx-font-weight: bolder;
    /*-fx-border-color: #4a4948;*/

}
.pane
{
    -fx-background-color: #d8c30c;
    -fx-border-color: #4a4948;
    -fx-border-width: 2;
    -fx-font-weight: bolder;

}
.panetest{
    /*-fx-background-color: BLACK;*/

    -fx-background-image:url(Wood2.jpg);
    -fx-background-size: cover;
    /*-fx-background-repeat: no-repeat;*/
}
.scroll-pane .viewport {
    -fx-background-image: url('Wood2.jpg');
    -fx-background-size: cover;
}
.backgroundPicture{
    -fx-background-image:url(belman.jpg);
    -fx-background-size: cover;
    
   
}
.fancytext {
    -fx-font: Bold 40px Calibri;
    -fx-fill: white;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.fancytext2{
    -fx-font: Bold 20px Calibri;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
    -fx-fill: white;
}







